<div class="newpost">
<h2>New Post</h2>
</div>


<%= form_for @post, html: {multipart: true } do |f| %>
<div class="postbox">
  <br><center>
    <%= f.label :image %>
    <br>
    <%= f.file_field :image %>
  </center>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  </div>
  <br>
  <%= f.submit %>

<% end %>
